# (prototype) Assemble schools

In this kernel I will assemble schools info from the school years 2016-2017 and 2017-2018, regarding the class that took SHSAT on October 2017.

![](../data/keep/timeline.png)

In [32]:
import pandas as pd

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', None)

In [33]:
!ls ../data/pre

middle_school_base.pkl		  schools2016.pkl	    test_results.pkl
nyt_table.pkl			  schools_demographics.pkl
school_demographics_20162017.pkl  shsat_table.pkl

In [34]:
base = pd.read_pickle('../data/pre/middle_school_base.pkl')  # Middle School Directory (2018)  -  missing
demographics = pd.read_pickle('../data/pre/school_demographics_20162017.pkl')  # School Quality Report (2016-17)
tests = pd.read_pickle('../data/pre/test_results.pkl')  # NYS Test Results (from 2013 to 2017)
shsat = pd.read_pickle('../data/pre/shsat_table.pkl')  # SHSAT Testers and Offers (2017-18)

In [35]:
base.shape  # low #rows will be a problem

(484, 4)

In [36]:
demographics.shape

(1269, 9)

In [37]:
tests.shape

(27453, 29)

In [38]:
shsat.shape  # these are our targets

(594, 5)

In [39]:
base.head()

        Community School?    Borough   Latitude  Longitude
DBN
06M018                  0  manhattan  40.871278 -73.911516
06M052                  0  manhattan  40.866053 -73.924835
06M143                  0  manhattan  40.848908 -73.930948
06M187                  0  manhattan  40.856693 -73.937093
06M209                  0  manhattan  40.820953 -73.951145

In [40]:
demographics.head()

,School Name,Percent Asian,Percent Black,Percent Hispanic,Percent White,Percent English Language Learners,Percent Students with Disabilities,Percent of Students Chronically Absent,Economic Need Index
DBN,,,,,,,,,
01M015,P.S. 015 Roberto Clemente,0.068,0.298,0.584,0.025,0.075,0.304,0.215,0.895
01M019,P.S. 019 Asher Levy,0.077,0.202,0.664,0.053,0.036,0.340,0.324,0.605
01M020,P.S. 020 Anna Silver,0.329,0.098,0.491,0.042,0.186,0.224,0.256,0.699
01M034,P.S. 034 Franklin D. Roosevelt,0.053,0.297,0.614,0.030,0.080,0.380,0.305,0.872
01M063,The STAR Academy - P.S.63,0.039,0.191,0.646,0.101,0.028,0.354,0.251,0.709

In [41]:
tests.head()

,DBN,School Name,Grade,Year,Number Tested - ELA,Mean Scale Score - ELA,# Level 1 - ELA,% Level 1 - ELA,# Level 2 - ELA,% Level 2 - ELA,# Level 3 - ELA,% Level 3 - ELA,# Level 4 - ELA,% Level 4 - ELA,# Level 3+4 - ELA,% Level 3+4 - ELA,Charter School,Number Tested - Math,Mean Scale Score - Math,# Level 1 - Math,% Level 1 - Math,# Level 2 - Math,% Level 2 - Math,# Level 3 - Math,% Level 3 - Math,# Level 4 - Math,% Level 4 - Math,# Level 3+4 - Math,% Level 3+4 - Math
0,01M015,PS 015 ROBERTO CLEMENTE,3,2013,27,289.2963,14.0,51.85185,11.0,40.74074,2.0,7.407407,0.0,0.000000,2.0,7.407407,0,27,277.7778,16.0,59.25926,11.0,40.74074,0.0,0.00000,0.0,0.000000,0.0,0.00000
1,01M015,PS 015 ROBERTO CLEMENTE,3,2014,18,285.1111,10.0,55.55556,8.0,44.44444,0.0,0.000000,0.0,0.000000,0.0,0.000000,0,18,286.3889,6.0,33.33333,9.0,50.00000,2.0,11.11111,1.0,5.555556,3.0,16.66667
2,01M015,PS 015 ROBERTO CLEMENTE,3,2015,16,281.8125,9.0,56.25000,5.0,31.25000,2.0,12.500000,0.0,0.000000,2.0,12.500000,0,17,279.5882,10.0,58.82353,4.0,23.52941,2.0,11.76471,1.0,5.882353,3.0,17.64706
3,01M015,PS 015 ROBERTO CLEMENTE,3,2016,20,292.5000,10.0,50.00000,6.0,30.00000,4.0,20.000000,0.0,0.000000,4.0,20.000000,0,21,274.8095,13.0,61.90476,4.0,19.04762,4.0,19.04762,0.0,0.000000,4.0,19.04762
4,01M015,PS 015 ROBERTO CLEMENTE,3,2017,27,302.3704,10.0,37.03704,8.0,29.62963,7.0,25.925930,2.0,7.407407,9.0,33.333330,0,29,301.5517,8.0,27.58621,9.0,31.03448,7.0,24.13793,5.0,17.241380,12.0,41.37931

In [42]:
shsat.head()

,# Students in HS Admissions,# SHSAT Testers,# SHSAT Offers,% SHSAT Testers,% SHSAT Offers
DBN,,,,,
01M034,58.0,6.0,NaN,0.103448,NaN
01M140,67.0,6.0,NaN,0.089552,NaN
01M184,88.0,67.0,23.0,0.761364,0.261364
01M188,59.0,NaN,NaN,NaN,NaN
01M301,51.0,11.0,NaN,0.215686,NaN

# Preparing

## Tests DataFrame

In [43]:
# since there were only 5 students tested in Math, the results disappear
# this is a sign language school, it is safe to remove from the dataset later

tests = pd.read_pickle('../data/pre/test_results.pkl')  # NYS Test Results
tests[(tests['DBN'] == '02M347') &
      (tests['Grade'] == 7) &
      (tests['Year'] == 2017)].iloc[0]

DBN                                                                   02M347
School Name                THE 47 AMERICAN SIGN LANGUAGE & ENGLISH LOWER ...
Grade                                                                      7
Year                                                                    2017
Number Tested - ELA                                                        6
Mean Scale Score - ELA                                               319.833
# Level 1 - ELA                                                            0
% Level 1 - ELA                                                            0
# Level 2 - ELA                                                            2
% Level 2 - ELA                                                      33.3333
# Level 3 - ELA                                                            3
% Level 3 - ELA                                                           50
# Level 4 - ELA                                                            1
% Level 4 - ELA                                                      16.6667
# Level 3+4 - ELA                                                          4
% Level 3+4 - ELA                                                    66.6667
Charter School                                                             0
Number Tested - Math                                                       5
Mean Scale Score - Math                                                  NaN
# Level 1 - Math                                                         NaN
% Level 1 - Math                                                         NaN
# Level 2 - Math                                                         NaN
% Level 2 - Math                                                         NaN
# Level 3 - Math                                                         NaN
% Level 3 - Math                                                         NaN
# Level 4 - Math                                                         NaN
% Level 4 - Math                                                         NaN
# Level 3+4 - Math                                                       NaN
% Level 3+4 - Math                                                       NaN
Name: 1421, dtype: object

In [44]:
tests = pd.read_pickle('../data/pre/test_results.pkl')  # NYS Test Results
tests = tests.set_index('DBN')
tests = tests[(tests['Grade'] == 7) &
              (tests['Year'] == 2017)]
tests = tests[[
    'Charter School',
    'Mean Scale Score - ELA',
    '% Level 2 - ELA',
    '% Level 3 - ELA',
    '% Level 4 - ELA',
    'Mean Scale Score - Math',
    '% Level 2 - Math',
    '% Level 3 - Math',
    '% Level 4 - Math',
]]

tests.head()

,Charter School,Mean Scale Score - ELA,% Level 2 - ELA,% Level 3 - ELA,% Level 4 - ELA,Mean Scale Score - Math,% Level 2 - Math,% Level 3 - Math,% Level 4 - Math
DBN,,,,,,,,,
01M034,0,298.2778,59.25926,22.22222,1.851852,285.9423,34.61538,13.46154,0.000000
01M140,0,297.4545,60.00000,21.81818,1.818182,291.2456,38.59649,14.03509,0.000000
01M184,0,330.1358,20.98765,39.50617,34.567900,339.6988,16.86747,28.91566,44.578310
01M188,0,295.6667,45.09804,15.68627,1.960784,294.5000,46.15385,21.15385,0.000000
01M301,0,304.7073,46.34146,31.70732,4.878049,288.1951,36.58537,12.19512,2.439024

In [45]:
tests.shape

(600, 9)

# Merging

In [46]:
joined = shsat.join(base, how='inner').join(demographics, how='inner').join(tests, how='inner')  # left joins
joined.head()

,# Students in HS Admissions,# SHSAT Testers,# SHSAT Offers,% SHSAT Testers,% SHSAT Offers,Community School?,Borough,Latitude,Longitude,School Name,Percent Asian,Percent Black,Percent Hispanic,Percent White,Percent English Language Learners,Percent Students with Disabilities,Percent of Students Chronically Absent,Economic Need Index,Charter School,Mean Scale Score - ELA,% Level 2 - ELA,% Level 3 - ELA,% Level 4 - ELA,Mean Scale Score - Math,% Level 2 - Math,% Level 3 - Math,% Level 4 - Math
DBN,,,,,,,,,,,,,,,,,,,,,,,,,,,
01M034,58.0,6.0,NaN,0.103448,NaN,0,manhattan,40.726473,-73.975181,P.S. 034 Franklin D. Roosevelt,0.053,0.297,0.614,0.030,0.080,0.380,0.305,0.872,0,298.2778,59.25926,22.22222,1.851852,285.9423,34.61538,13.46154,0.000000
01M140,67.0,6.0,NaN,0.089552,NaN,0,manhattan,40.719250,-73.983056,P.S. 140 Nathan Straus,0.044,0.121,0.794,0.030,0.124,0.338,0.395,0.853,0,297.4545,60.00000,21.81818,1.818182,291.2456,38.59649,14.03509,0.000000
01M184,88.0,67.0,23.0,0.761364,0.261364,0,manhattan,40.711549,-73.986542,P.S. 184m Shuang Wen,0.697,0.044,0.124,0.085,0.171,0.192,0.041,0.560,0,330.1358,20.98765,39.50617,34.567900,339.6988,16.86747,28.91566,44.578310
01M188,59.0,NaN,NaN,NaN,NaN,0,manhattan,40.719598,-73.977904,P.S. 188 The Island School,0.019,0.320,0.625,0.036,0.154,0.332,0.369,0.938,0,295.6667,45.09804,15.68627,1.960784,294.5000,46.15385,21.15385,0.000000
01M301,51.0,11.0,NaN,0.215686,NaN,0,manhattan,40.729636,-73.983818,"Technology, Arts, and Sciences Studio",0.087,0.323,0.496,0.055,0.047,0.441,0.382,0.746,0,304.7073,46.34146,31.70732,4.878049,288.1951,36.58537,12.19512,2.439024

In [47]:
joined.shape

(477, 27)

# Missing schools

## Charter Schools

In [48]:
demographics.loc[set(shsat.index) - set(joined.index)]

/home/andre/miniconda3/envs/passnyc/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

,School Name,Percent Asian,Percent Black,Percent Hispanic,Percent White,Percent English Language Learners,Percent Students with Disabilities,Percent of Students Chronically Absent,Economic Need Index
DBN,,,,,,,,,
84M704,Harbor Science and Arts Charter School,0.023,0.540,0.398,0.011,0.031,0.226,0.264,0.766
84X185,Bronx Lighthouse Charter School,0.012,0.345,0.626,0.005,0.101,0.196,0.157,0.774
84X165,Grand Concourse Charter School,0.041,0.354,0.563,0.023,0.155,0.106,0.293,0.768
84R073,New World Preparatory Charter School,0.010,0.258,0.677,0.047,0.142,0.271,0.052,0.718
84R067,John W. Lavelle Preparatory Charter School,0.028,0.428,0.405,0.123,0.025,0.345,0.183,0.616
84K711,Leadership Preparatory Brownsville Charter School,0.001,0.843,0.141,0.003,0.013,0.129,0.116,0.759
84X398,Bronx Community Charter School,0.036,0.239,0.667,0.036,0.175,0.200,0.098,0.723
84Q321,Growing Up Green Charter School,0.139,0.116,0.372,0.308,0.096,0.200,0.084,0.448
84K702,Community Partnership Charter School,0.010,0.771,0.197,0.005,0.025,0.175,0.285,0.706
84M861,Future Leaders Institute Charter School,0.008,0.828,0.153,0.005,0.071,0.161,0.197,0.745
84K538,Achievement First Bushwick Charter School,0.011,0.289,0.688,0.009,0.125,0.176,0.034,0.733
84X389,Bronx Global Learning Institute for Girls Charter,0.014,0.255,0.705,0.007,0.095,0.111,0.098,0.764
84K737,Brownsville Ascend Charter School,0.009,0.861,0.110,0.003,0.014,0.126,0.152,0.717
84X255,Bronx Charter School for Excellence,0.224,0.410,0.343,0.007,0.080,0.088,0.039,0.525
30Q580,Baccalaureate School for Global Education,0.521,0.027,0.119,0.274,0.000,0.009,0.014,0.233
84K652,Brooklyn Ascend Charter School,0.006,0.953,0.029,0.001,0.007,0.142,0.079,0.591
84K782,Bedford Stuyvesant New Beginnings Charter School,0.005,0.566,0.412,0.005,0.133,0.192,0.233,0.806
84K358,Achievement First East New York Charter School,0.006,0.813,0.165,0.003,0.013,0.140,0.061,0.686
84K731,Brooklyn Excelsior Charter School,0.014,0.813,0.162,0.005,0.040,0.139,0.303,0.690
84K508,Achievement First Endeavor Charter School,0.008,0.864,0.109,0.007,0.006,0.145,0.030,0.657
84X488,The Equality Charter School,0.022,0.713,0.239,0.019,0.037,0.224,0.104,0.526
84Q298,Middle Village Prep Charter School,0.037,0.029,0.562,0.370,0.013,0.136,0.042,0.375
84M068,KIPP Washington Heights Middle School,0.001,0.107,0.876,0.010,0.139,0.186,0.097,0.769
84Q705,Renaissance Charter School,0.192,0.048,0.619,0.120,0.093,0.177,0.083,0.509
84M482,Success Academy Charter School - Harlem 5,0.009,0.675,0.281,0.009,0.059,0.211,NaN,0.721
23K697,Teachers Preparatory High School,0.014,0.736,0.181,0.042,0.042,0.292,0.455,0.800
84X706,Harriet Tubman Charter School,0.001,0.650,0.329,0.007,0.112,0.098,0.259,0.804
84K608,Kings Collegiate Charter School,0.000,0.945,0.026,0.003,0.017,0.138,0.077,0.503
84X346,South Bronx Classical Charter School,0.020,0.388,0.571,0.012,0.182,0.106,0.024,0.745
84K780,Brooklyn East Collegiate Charter School,0.017,0.780,0.069,0.014,0.014,0.165,NaN,0.585
17K590,Medgar Evers College Preparatory School,0.036,0.870,0.039,0.003,0.000,0.010,0.062,0.440
84K774,Achievement First Apollo Charter School,0.046,0.628,0.300,0.010,0.062,0.109,0.061,0.656
84K386,Invictus Preparatory Charter School,0.057,0.705,0.223,0.008,0.083,0.186,0.193,0.740
84M330,Girls Preparatory Charter School of New York,0.019,0.455,0.480,0.021,0.030,0.176,0.230,0.693
84X538,Icahn Charter School 5,0.032,0.586,0.305,0.070,0.007,0.088,0.092,0.495
84Q304,VOICE Charter School of New York,0.151,0.134,0.592,0.090,0.163,0.157,0.132,0.564
84K707,Brooklyn Prospect Charter School,0.072,0.145,0.265,0.438,0.010,0.157,0.073,0.330
84X496,Icahn Charter School 4,0.022,0.601,0.334,0.012,0.003,0.068,0.147,0.558
84M279,The Opportunity Charter School,0.015,0.495,0.465,0.000,0.084,0.624,0.327,0.808
84K333,Explore Exceed Charter School,0.030,0.779,0.174,0.000,0.051,0.237,0.283,0.678
84K356,Achievement First Crown Heights Charter School,0.001,0.950,0.033,0.006,0.004,0.163,0.043,0.565
17K531,"School for Human Rights, The",0.025,0.937,0.038,0.000,0.038,0.177,0.123,0.648
84M202,Great Oaks Charter School,0.139,0.254,0.574,0.019,0.077,0.297,0.173,0.664
84M430,The Equity Project Charter School (TEP),0.004,0.053,0.934,0.004,0.241,0.228,0.060,0.779
84M336,KIPP Infinity Charter School,0.004,0.303,0.675,0.013,0.139,0.227,0.159,0.791
84K626,Achievement First Brownsville Charter School,0.004,0.885,0.100,0.004,0.026,0.134,0.077,0.702
84K593,Excellence Boys Charter School,0.030,0.843,0.098,0.012,0.026,0.158,0.090,0.635
84X461,Metropolitan Lighthouse Charter School,0.002,0.389,0.580,0.008,0.162,0.118,0.038,0.794
84X345,Hyde Leadership Charter School,0.004,0.317,0.668,0.007,0.130,0.230,0.103,0.799
84X494,Success Academy Charter School - Bronx 2,0.011,0.634,0.339,0.011,0.061,0.142,NaN,0.781
...,...,...,...,...,...,...,...,...,...
84K791,Brooklyn Dreams Charter School,0.185,0.592,0.176,0.026,0.106,0.141,0.200,0.560
84K742,Explore Empower Charter School,0.002,0.887,0.095,0.004,0.037,0.237,0.184,0.730
84K744,Coney Island Preparatory Public Charter School,0.086,0.369,0.345,0.179,0.062,0.263,0.100,0.738
84K360,Launch Expeditionary Learning Charter School,0.010,0.821,0.138,0.003,0.045,0.263,0.125,0.791
84X233,Family Life Academy Charter School II,0.007,0.279,0.707,0.003,0.133,0.129,0.279,0.814
84X419,Bronx Academy of Promise Charter School,0.020,0.420,0.550,0.002,0.176,0.136,0.109,0.782
84K517,Leadership Prep Bedford Stuyvesant Uncommon Pr...,0.012,0.855,0.094,0.012,0.021,0.091,0.065,0.668
84X492,South Bronx Early College Academy Charter School,0.000,0.345,0.646,0.004,0.133,0.323,0.374,0.849
84X493,Success Academy Charter School - Bronx 1,0.013,0.545,0.420,0.004,0.052,0.144,NaN,0.786
84K740,Brooklyn Scholars Charter School,0.067,0.681,0.236,0.003,0.010,0.100,0.191,0.677
84X704,KIPP Academy Charter School,0.002,0.433,0.544,0.007,0.117,0.177,0.144,0.759
84K648,Bedford Stuyvesant Collegiate Charter School,0.014,0.685,0.260,0.012,0.026,0.176,0.109,0.690
84K379,Explore Excel Charter School,0.011,0.917,0.044,0.004,0.037,0.204,0.158,0.548
84K746,Hebrew Language Academy Charter School,0.013,0.420,0.032,0.518,0.072,0.189,0.184,0.411
84X177,Mott Hall Charter School,0.003,0.374,0.585,0.014,0.112,0.177,0.140,0.832
84K758,Brooklyn Urban Garden Charter School,0.035,0.344,0.386,0.179,0.035,0.256,0.107,0.540
84X717,Icahn Charter School,0.006,0.525,0.460,0.006,0.037,0.071,0.119,0.738
84K362,Hellenic Classical Charter School,0.029,0.227,0.440,0.271,0.042,0.092,0.049,0.456
84K357,KIPP AMP Charter School,0.014,0.857,0.096,0.007,0.017,0.165,0.174,0.732
84M204,Capital Preparatory (CP) Harlem Charter School,0.019,0.722,0.228,0.000,0.019,0.241,0.282,0.736
84X378,Icahn Charter School 2,0.053,0.282,0.628,0.022,0.068,0.115,0.196,0.565
84M350,Democracy Prep Charter School,0.006,0.634,0.327,0.014,0.043,0.185,0.352,0.710
84Q706,Our World Neighborhood Charter School,0.177,0.067,0.405,0.323,0.101,0.098,0.099,0.457
84Q083,Central Queens Academy Charter School,0.182,0.111,0.674,0.030,0.096,0.109,0.033,0.609
84X460,Atmosphere Charter School,0.016,0.237,0.735,0.008,0.133,0.257,NaN,0.729
84K793,Bushwick Ascend Charter School,0.011,0.218,0.754,0.014,0.207,0.160,0.093,0.725
84X482,Dr. Richard Izquierdo Health and Science Chart...,0.006,0.319,0.640,0.021,0.115,0.251,0.222,0.841
84X487,Girls Preparatory Charter School of the Bronx,0.003,0.331,0.640,0.007,0.061,0.180,0.171,0.725
84M065,Democracy Prep Endurance Charter School,0.006,0.674,0.279,0.012,0.068,0.226,0.189,0.737
84M384,Success Academy Charter School - Harlem 2,0.016,0.694,0.263,0.019,0.026,0.192,NaN,0.727
84M341,Harlem Children's Zone Promise Academy II Charter,0.003,0.805,0.161,0.005,0.038,0.147,0.113,0.772
23K327,P.S. 327 Dr. Rose B. English,0.013,0.676,0.266,0.019,0.082,0.253,0.492,0.855
84X703,Bronx Preparatory Charter School,0.003,0.504,0.484,0.008,0.074,0.139,0.104,0.751
84M385,Success Academy Charter School - Harlem 3,0.013,0.601,0.343,0.017,0.034,0.164,NaN,0.723
84Q341,Riverton Street Charter School,0.003,0.912,0.070,0.006,0.010,0.133,0.047,0.374
84K724,Leadership Prep Canarsie Charter School (Leade...,0.012,0.902,0.047,0.009,0.003,0.124,0.089,0.509
84M481,Democracy Prep Harlem Charter School,0.012,0.650,0.318,0.005,0.060,0.161,0.125,0.786
84K355,Williamsburg Collegiate Charter School,0.003,0.291,0.691,0.015,0.052,0.197,0.118,0.718
84K536,Community Roots Charter School,0.049,0.298,0.159,0.416,0.025,0.237,0.077,0.327
84K775,Leadership Preparatory Ocean Hill Charter School,0.004,0.830,0.136,0.006,0.027,0.107,0.122,0.728
84K803,Brooklyn LABÿCharter School,0.017,0.738,0.188,0.031,0.015,0.284,NaN,0.654
84M709,Harlem Village Academy Charter School,0.004,0.778,0.189,0.008,0.066,0.199,0.114,0.739
84K710,Brownsville Collegiate Charter School,0.006,0.690,0.226,0.009,0.040,0.198,0.115,0.742
84M382,DREAM Charter School,0.010,0.315,0.655,0.008,0.066,0.267,0.171,0.789
84K730,Summit Academy Charter School,0.000,0.310,0.664,0.018,0.115,0.230,0.325,0.877
84M708,Harlem Prep Charter School,0.005,0.577,0.396,0.008,0.055,0.166,0.169,0.815
07X584,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84X471,American Dream Charter School,0.000,0.074,0.913,0.004,0.231,0.219,0.089,0.832
84M388,St. HOPE Leadership Academy Charter School,0.020,0.579,0.358,0.010,0.096,0.268,0.052,0.785
84K651,PAVE Academy Charter School,0.019,0.446,0.508,0.019,0.077,0.186,0.145,0.791

Missing charter schools...

From *directory*?

In [49]:
joined2 = shsat.join(demographics, how='inner').join(tests, how='inner')  # left joins
joined2.shape

(589, 23)

Yes

In [50]:
base.head()

        Community School?    Borough   Latitude  Longitude
DBN
06M018                  0  manhattan  40.871278 -73.911516
06M052                  0  manhattan  40.866053 -73.924835
06M143                  0  manhattan  40.848908 -73.930948
06M187                  0  manhattan  40.856693 -73.937093
06M209                  0  manhattan  40.820953 -73.951145

In [52]:
base.columns

Index(['Community School?', 'Borough', 'Latitude', 'Longitude'], dtype='object')

Since this information is not prone to changing, we can retrieve it from the PASSNYC dataset directly!

## Is missing data present on PASSNYC dataset?

In [59]:
schools = pd.read_pickle('../data/pre/schools2016.pkl')
schools = schools.set_index('Location Code')
schools = schools[['Community School?', 'Latitude', 'Longitude']]
schools.index.name = 'DBN'
schools.head()  # Borough comes from Kaggle kernel

        Community School?   Latitude  Longitude
DBN
01M015                  1  40.721834 -73.978766
01M020                  0  40.721274 -73.986315
01M034                  0  40.726147 -73.975043
01M063                  0  40.724404 -73.986360
01M064                  0  40.723747 -73.981602

In [62]:
len(set(shsat.index) - set(base.index))

114

In [61]:
len(set(shsat.index) - (set(schools.index) | set(base.index)))

20

Yes for most of them, but not all. We will use the school locations dataset instead.

## Other missing schools

In [70]:
base.reindex(set(shsat.index) - set(joined2.index))

        Community School?   Borough   Latitude  Longitude
DBN
84X233                NaN       NaN        NaN        NaN
84M337                NaN       NaN        NaN        NaN
17K590                0.0  brooklyn  40.667195 -73.951167
29Q283                0.0    queens  40.668235 -73.756839
07X584                1.0     bronx  40.815498 -73.912240

In [69]:
demographics.reindex(set(shsat.index) - set(joined2.index))

,School Name,Percent Asian,Percent Black,Percent Hispanic,Percent White,Percent English Language Learners,Percent Students with Disabilities,Percent of Students Chronically Absent,Economic Need Index
DBN,,,,,,,,,
84X233,Family Life Academy Charter School II,0.007,0.279,0.707,0.003,0.133,0.129,0.279,0.814
84M337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17K590,Medgar Evers College Preparatory School,0.036,0.870,0.039,0.003,0.000,0.010,0.062,0.440
29Q283,Preparatory Academy for Writers: A College Boa...,0.022,0.868,0.071,0.005,0.027,0.181,0.090,0.381
07X584,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
tests.reindex(set(shsat.index) - set(joined2.index))

,Charter School,Mean Scale Score - ELA,% Level 2 - ELA,% Level 3 - ELA,% Level 4 - ELA,Mean Scale Score - Math,% Level 2 - Math,% Level 3 - Math,% Level 4 - Math
DBN,,,,,,,,,
84X233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84M337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17K590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29Q283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
07X584,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
shsat.reindex(set(shsat.index) - set(joined2.index))

,# Students in HS Admissions,# SHSAT Testers,# SHSAT Offers,% SHSAT Testers,% SHSAT Offers
DBN,,,,,
84X233,50.0,30.0,NaN,0.600000,NaN
84M337,NaN,NaN,NaN,NaN,NaN
17K590,88.0,15.0,NaN,0.170455,NaN
29Q283,43.0,10.0,NaN,0.232558,NaN
07X584,106.0,10.0,NaN,0.094340,NaN

Mostly at tests, and 1 (07X584) at demographics. We may impute the values manually, ignore, or focus on them later.