# (prototype) Join demographics data over the years

In [1]:
import pandas as pd

In [2]:
sd2015 = pd.read_pickle('../data/pre/school_demographics_20142015.pkl')
sd2016 = pd.read_pickle('../data/pre/school_demographics_20152016.pkl')
sd2017 = pd.read_pickle('../data/pre/school_demographics_20162017.pkl')

In [5]:
sd2015['Year'] = 2015
sd2016['Year'] = 2016
sd2017['Year'] = 2017

,School Name,Percent Asian,Percent Black,Percent Hispanic,Percent White,Percent English Language Learners,Percent Students with Disabilities,Percent of Students Chronically Absent,Economic Need Index,Year
DBN,,,,,,,,,,
01M015,P.S. 015 Roberto Clemente,0.036,0.364,0.576,0.018,0.103,0.364,0.178,0.919,2015
01M019,P.S. 019 Asher Levy,0.113,0.183,0.588,0.096,0.075,0.333,0.303,0.641,2015
01M020,P.S. 020 Anna Silver,0.364,0.084,0.486,0.038,0.199,0.242,0.196,0.744,2015
01M034,P.S. 034 Franklin D. Roosevelt,0.056,0.284,0.618,0.037,0.069,0.308,0.282,0.860,2015
01M063,The STAR Academy - P.S.63,0.063,0.213,0.626,0.098,0.040,0.379,0.232,0.730,2015

In [7]:
sd2015 = sd2015.reset_index().set_index(['DBN', 'Year'])
sd2016 = sd2016.reset_index().set_index(['DBN', 'Year'])
sd2017 = sd2017.reset_index().set_index(['DBN', 'Year'])

In [8]:
sd = pd.concat([sd2015, sd2016, sd2017])
sd.head()

,,School Name,Percent Asian,Percent Black,Percent Hispanic,Percent White,Percent English Language Learners,Percent Students with Disabilities,Percent of Students Chronically Absent,Economic Need Index
DBN,Year,,,,,,,,,
01M015,2015,P.S. 015 Roberto Clemente,0.036,0.364,0.576,0.018,0.103,0.364,0.178,0.919
01M019,2015,P.S. 019 Asher Levy,0.113,0.183,0.588,0.096,0.075,0.333,0.303,0.641
01M020,2015,P.S. 020 Anna Silver,0.364,0.084,0.486,0.038,0.199,0.242,0.196,0.744
01M034,2015,P.S. 034 Franklin D. Roosevelt,0.056,0.284,0.618,0.037,0.069,0.308,0.282,0.860
01M063,2015,The STAR Academy - P.S.63,0.063,0.213,0.626,0.098,0.040,0.379,0.232,0.730