In [16]:
import pandas as pd

pd.set_option('display.max_columns', None)

In [13]:
df = pd.read_pickle('../data/process/schools2017.pkl')
df = df.drop([
    '# SHSAT Offers',
    '# SHSAT Testers',
    '% SHSAT Offers',
    '% SHSAT Testers'
], axis=1)

In [14]:
def nulltuple(row):
    return tuple(row[row.isnull()].index.tolist())

df.apply(nulltuple, axis=1).value_counts().to_frame()

                                                      0
()                                                  578
(Percent of Students Chronically Absent,)            10
(Mean Scale Score - Math, % Level 2 - Math, % L...    3
(Mean Scale Score - ELA, % Level 2 - ELA, % Lev...    1
(School Name, Charter School?, Percent Asian, P...    1
(School Name, Charter School?, Percent Asian, P...    1

In [19]:
# these two schools are missing everything

# First one is pretty new, for this reason it has no data available
# Second one is New York Center for Autism Charter School

df.loc[df['School Name'].isnull()]

,School Name,Charter School?,Borough,Latitude,Longitude,Percent Asian,Percent Black,Percent Hispanic,Percent White,Percent Other,Percent English Language Learners,Percent Students with Disabilities,Percent of Students Chronically Absent,Economic Need Index,Mean Scale Score - ELA,% Level 2 - ELA,% Level 3 - ELA,% Level 4 - ELA,Mean Scale Score - Math,% Level 2 - Math,% Level 3 - Math,% Level 4 - Math,# Students in HS Admissions
DBN,,,,,,,,,,,,,,,,,,,,,,,
07X584,NaN,NaN,bronx,40.814857,-73.912038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106.0
84M337,NaN,NaN,manhattan,40.785559,-73.940919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# no ELA or Math information... It will be hard fitting a model

df.loc[
    df['School Name'].notnull() &
    df['Mean Scale Score - ELA'].isnull()
]

,School Name,Charter School?,Borough,Latitude,Longitude,Percent Asian,Percent Black,Percent Hispanic,Percent White,Percent Other,Percent English Language Learners,Percent Students with Disabilities,Percent of Students Chronically Absent,Economic Need Index,Mean Scale Score - ELA,% Level 2 - ELA,% Level 3 - ELA,% Level 4 - ELA,Mean Scale Score - Math,% Level 2 - Math,% Level 3 - Math,% Level 4 - Math,# Students in HS Admissions
DBN,,,,,,,,,,,,,,,,,,,,,,,
84X233,Family Life Academy Charter School II,1.0,bronx,40.811562,-73.925416,0.007,0.279,0.707,0.003,0.004,0.133,0.129,0.279,0.814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0

In [23]:
# no Math information... We can rely on ELA

df.loc[
    df['School Name'].notnull() &
    df['Mean Scale Score - ELA'].notnull() &
    df['Mean Scale Score - Math'].isnull()
]

,School Name,Charter School?,Borough,Latitude,Longitude,Percent Asian,Percent Black,Percent Hispanic,Percent White,Percent Other,Percent English Language Learners,Percent Students with Disabilities,Percent of Students Chronically Absent,Economic Need Index,Mean Scale Score - ELA,% Level 2 - ELA,% Level 3 - ELA,% Level 4 - ELA,Mean Scale Score - Math,% Level 2 - Math,% Level 3 - Math,% Level 4 - Math,# Students in HS Admissions
DBN,,,,,,,,,,,,,,,,,,,,,,,
02M347,The 47 American Sign Language & English Lower ...,0.0,manhattan,40.738374,-73.981329,0.014,0.236,0.557,0.143,0.050,0.064,0.593,0.268,0.724,1.118961,0.333333,0.500000,0.166667,NaN,NaN,NaN,NaN,9.0
17K590,Medgar Evers College Preparatory School,0.0,brooklyn,40.666790,-73.951823,0.036,0.870,0.039,0.003,0.052,0.000,0.010,0.062,0.440,2.427016,0.144444,0.311111,0.544444,NaN,NaN,NaN,NaN,88.0
29Q283,Preparatory Academy for Writers: A College Boa...,0.0,queens,40.669030,-73.757744,0.022,0.868,0.071,0.005,0.034,0.027,0.181,0.090,0.381,0.725532,0.400000,0.422222,0.066667,NaN,NaN,NaN,NaN,43.0

In [26]:
# no presence information
# they will get almost a full-fledged model

df.loc[
    df['School Name'].notnull() &
    df['Mean Scale Score - ELA'].notnull() &
    df['Mean Scale Score - Math'].notnull() &
    df['Percent of Students Chronically Absent'].isnull()    
]

# success accademy charter school ...

,School Name,Charter School?,Borough,Latitude,Longitude,Percent Asian,Percent Black,Percent Hispanic,Percent White,Percent Other,Percent English Language Learners,Percent Students with Disabilities,Percent of Students Chronically Absent,Economic Need Index,Mean Scale Score - ELA,% Level 2 - ELA,% Level 3 - ELA,% Level 4 - ELA,Mean Scale Score - Math,% Level 2 - Math,% Level 3 - Math,% Level 4 - Math,# Students in HS Admissions
DBN,,,,,,,,,,,,,,,,,,,,,,,
84K780,Brooklyn East Collegiate Charter School,1.0,brooklyn,40.678554,-73.966333,0.017,0.780,0.069,0.014,0.120,0.014,0.165,NaN,0.585,0.483212,0.500000,0.280488,0.085366,0.677164,0.419753,0.345679,0.074074,87.0
84K803,Brooklyn LABÿCharter School,1.0,brooklyn,40.697262,-73.986016,0.017,0.738,0.188,0.031,0.026,0.015,0.284,NaN,0.654,0.475038,0.540540,0.243243,0.081081,-0.158592,0.357798,0.192661,0.045872,137.0
84M351,Success Academy Charter School - Harlem 1,1.0,manhattan,40.802649,-73.948088,0.010,0.737,0.204,0.014,0.035,0.037,0.183,NaN,0.701,1.765217,0.158879,0.626168,0.214953,1.785101,0.093458,0.495327,0.373832,101.0
84M384,Success Academy Charter School - Harlem 2,1.0,manhattan,40.805653,-73.935461,0.016,0.694,0.263,0.019,0.008,0.026,0.192,NaN,0.727,2.150214,0.097222,0.527778,0.375000,2.089526,0.083333,0.430556,0.486111,69.0
84M385,Success Academy Charter School - Harlem 3,1.0,manhattan,40.785107,-73.942154,0.013,0.601,0.343,0.017,0.026,0.034,0.164,NaN,0.723,1.704021,0.170732,0.646342,0.182927,1.916704,0.123457,0.481482,0.382716,69.0
84M386,Success Academy Charter School - Harlem 4,1.0,manhattan,40.801573,-73.955583,0.009,0.660,0.281,0.019,0.031,0.041,0.226,NaN,0.692,1.607153,0.220588,0.529412,0.235294,1.761941,0.132353,0.367647,0.441176,66.0
84M482,Success Academy Charter School - Harlem 5,1.0,manhattan,40.820216,-73.944551,0.009,0.675,0.281,0.009,0.026,0.059,0.211,NaN,0.721,2.506312,0.068966,0.448276,0.482759,2.411114,0.017241,0.431035,0.551724,59.0
84X460,Atmosphere Charter School,1.0,manhattan,40.875161,-73.910426,0.016,0.237,0.735,0.008,0.004,0.133,0.257,NaN,0.729,0.071358,0.527559,0.244094,0.039370,-0.640451,0.277778,0.158730,0.047619,126.0
84X493,Success Academy Charter School - Bronx 1,1.0,bronx,40.813681,-73.925995,0.013,0.545,0.420,0.004,0.018,0.052,0.144,NaN,0.786,2.083275,0.109091,0.581818,0.309091,2.309544,0.036364,0.418182,0.545455,47.0
84X494,Success Academy Charter School - Bronx 2,1.0,bronx,40.835934,-73.904970,0.011,0.634,0.339,0.011,0.005,0.061,0.142,NaN,0.781,2.378307,0.030303,0.560606,0.409091,2.701904,0.000000,0.283582,0.716418,65.0